@import './__triangle-pic/kaufman__triangle-pic.css';

.kaufman {
  background-color: #000000;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
