@import './__logo-zone/reouces__logo-zone.css';
@import './__link/resouces__link.css';

.resources {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 217px;
}